<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <link rel="icon" type="image/ico" href="../static/img/favicon.ico">
    <title>CodeLab Academy</title>
</head>
<body>

    {% if current_user.is_authenticated %}
    <nav>
        <img src="../static/img/logo_cor.png" alt="">
        <ul class="ul-nav">
            <li><a href="/">Home</a></li>
            <li><a href="#cursos">Cursos</a></li>
        </ul>
        
        <ul class="ul-actions">
            <p>Olá, {{current_user.name}} 👋</p>
            <li><a href="/logout">Sair</a></li>
        </ul>
    </nav>

    {% endif %}
</body>
</html>