<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <link rel="icon" type="image/ico" href="../static/img/favicon.ico">
    <title>CodeLab Academy</title>
</head>
<body>
    {% include 'nav.html' %}

    <main>
            {% for curso, upload, data_base64 in cursos %}
            <div class="curso">
                <h2>{{ curso.name }}</h2>
                <p>{{ curso.desc }}</p>
                <p>Valor: R$ {{ curso.valor }}</p>
                <img src="data:image/jpeg;base64,{{ data_base64 }}" width="325px" alt="">
                {% if current_user.is_authenticated %}
                    {% if not current_user.is_enrolled(curso.id) %}
                        <a href="{{ url_for('matricular', curso_id=curso.id) }}">Matricular</a>
                    {% else %}
                        <p class="matriculado">Matriculado neste curso. &#x2705</p>
                    {% endif %}
                {% else %}
                    <p>Faça <a href="/login" class="do-login"> login </a> para se matricular.</p>
                {% endif %}

            </div>
            {% endfor %}
        
    </main>
    <footer>

        <a href="/cadastro/curso">+ Cadastrar novo curso.</a>
    </footer>
</body>
</html>
