<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <link rel="icon" type="image/ico" href="../static/img/favicon.ico">
    <title>Cadastro - CodeLab Academy</title>
</head>
<body>
    <div class="main">
        
        <form method="POST" enctype="multipart/form-data">
            <h2>Enviar imagem do curso</h2><br>
            <label for="img" class="lb-file">Selecione o arquivo
                <img src="../static/img/upload_icon.png" alt="">
                <input type="file" name="arquivo" id="img" class="input" accept="image/*">
            </label><br>
            <input type="submit" value="Cadastrar Curso" class="sub_button">
        </form>
    </div>
</body>
</html>