<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        {% for curso, upload, data_base64 in cursos %}
        <div class="curso">
            <h2>{{ curso.name }}</h2>
            <img src="data:image/jpeg;base64,{{ data_base64 }}" width="400px" alt="">
            <a href="/cadastrar">Matricule-se agora!</a>
        </div>
        {% endfor %}
    </main>
</body>
</html>